
<%= render "devise/shared/komeedaLogoWhite" %>
<h1 style="color:white">Sign Up</h1>
<p id="sign-up-p-right">
We provide flavorful, interactive multi-course dining<br>
experiences hosted by your favorite restaurants!<br>
It’s free and your RSVP includes your meal, tax &tip!</p>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true, class: 'form-control', placeholder: 'Email Address', label: false %>
    <%= f.input :password, required: true, class: 'form-control', placeholder: 'Password (8 Character Minimum)', label: false %>
    <%= f.input :password_confirmation, required: true, class: 'form-control', placeholder: 'Password Confirmation', label: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create Account", class: 'btn btn-lg btn-primary btn-block',
    	id: 'signup-submit',
     style: 'margin-top: 10px; font-size: 1.5em;' %>
  </div>
<% end %>
<%= render "devise/shared/links" %>

<script>
	$(function(){

		// randomizes the background image to one of 
		// the 3 cover sized images in /assets/Homepage

		var rand = Math.floor(Math.random()* (2 - 0 + 1)) + 0;

		var bgs = [
			"/assets/Homepage/aerial-view.png",
			"/assets/Homepage/table-above.png",
			"/assets/Homepage/makedinner1.png"
		];

		var bg = bgs[rand];

		$("body").css({
			"background-size": "cover",
			"background-position": "center", 
			"background-image": "url(" + bg + ")"
			});

	})
</script>
